@import "tailwindcss";

:root {
    --background-primary: #181928;
    --background-secondary: #2f3045;
    --background-tertiary: #3c3a57;

    --text-primary: #c3b0d0;

    --border-primary: #6a668a;

    --rarity-uncommon: #2bd600;
    --rarity-rare: #03e1e4;
    --rarity-epic: #ff2fd1;
    --rarity-legendary: #ffdc00;
    --rarity-unreal: #eb0000;

    --price-primary: #03e1e4;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: var(--text-primary);
}

/* Tailwind CSS classes */

.bg-primary {
    background-color: var(--background-primary);
}

.bg-secondary {
    background-color: var(--background-secondary);
}

.bg-tertiary {
    background-color: var(--background-tertiary);
}

.text-primary {
    color: var(--text-primary);
}

.text-white {
    color: white;
}

.text-rarity-uncommon {
    color: var(--rarity-uncommon);
}
.text-rarity-rare {
    color: var(--rarity-rare);
}
.text-rarity-epic {
    color: var(--rarity-epic);
}
.text-rarity-legendary {
    color: var(--rarity-legendary);
}
.text-rarity-unreal {
    color: var(--rarity-unreal);
}

.text-price-primary {
    color: var(--price-primary);
}

.border-primary {
    border-color: var(--border-primary);
}

.border-text-primary {
    border-color: var(--text-primary);
}

.font-serif {
    font-family: serif;
}

/* Global styles */

.sidebar-active * {
    color: white !important;
}

.sidebar-expanded nav a:hover {
    transition: all .3s ease-in-out;
    background-color: var(--background-tertiary);
}

.sidebar-collapsed nav a:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}