---
import Layout from '../layouts/Layout.astro';
import Title from '../components/PageTitle.astro';
import MainContainer from '../components/MainContainer.astro';
import MinerDatabaseCard from '../components/MinerDatabaseCard.astro';

import { getAllMiners } from '../api/miners';

const miners = await getAllMiners();
---

<Layout>
	<Title title="Database" info="The Database is the place where you can find all miners." />
	<MainContainer className="mt-4 p-6">
		{!miners ? (
			<p class="text-center text-gray-500">No miners found.</p>
		) : (
			miners.map(miner => (
				<MinerDatabaseCard miner={miner} className="mb-4" />
			))
		)}
	</MainContainer>
</Layout>